In [1]:
import pandas as pd
from sklearn.feature_extraction.text import CountVectorizer, TfidfVectorizer, HashingVectorizer
import warnings
warnings.filterwarnings("ignore")

In [2]:
df = pd.read_pickle('tweets_.pickle')

In [3]:
df.head(3)

,label,tweet,tweet_preprocessed,tweet_token,tweet_token_filtered,tweet_stemmed,tweet_lemmatized
id,,,,,,,
1,0.0,@user when a father is dysfunctional and is s...,when father is dysfunctional and is so selfish...,"[when, father, is, dysfunctional, and, is, so,...","[father, dysfunctional, selfish, drags, kids, ...","[father, dysfunct, selfish, drag, kid, dysfunc...","[father, dysfunctional, selfish, drag, kid, dy..."
2,0.0,@user @user thanks for #lyft credit i can't us...,thanks for lyft credit cannot use cause they d...,"[thanks, for, lyft, credit, can, not, use, cau...","[thanks, lyft, credit, use, cause, offer, whee...","[thank, lyft, credit, use, caus, offer, wheelc...","[thanks, lyft, credit, use, cause, offer, whee..."
3,0.0,bihday your majesty,bihday your majesty,"[bihday, your, majesty]","[bihday, majesty]","[bihday, majesti]","[bihday, majesty]"

In [4]:
max_df = 0.9
max_features = 5000
stop_words = 'english'

### 1. Создайте мешок слов с помощью sklearn.feature_extraction.text.CountVectorizer.fit_transform(). Применим его к 'tweet_stemmed' и 'tweet_lemmatized' отдельно.
Игнорируем слова, частота которых в документе строго превышает порог 0.9 с помощью max_df.<br>
Ограничим количество слов, попадающий в мешок, с помощью max_features = 1000.<br>
Исключим стоп-слова с помощью stop_words='english'. <br>
Отобразим Bag-of-Words модель как DataFrame. columns необходимо извлечь с помощью CountVectorizer.get_feature_names().

In [5]:
count_vectorizer_stemmed = CountVectorizer(max_df=max_df, stop_words=stop_words,max_features=max_features)
count_vectorizer_lemmatized = CountVectorizer(max_df=max_df, stop_words=stop_words,max_features=max_features)

In [6]:
bow_count_vectorizer_stemmed = count_vectorizer_stemmed.fit_transform(df['tweet_stemmed'].astype(str).values)
bow_count_vectorizer_lemmatized = count_vectorizer_lemmatized.fit_transform(df['tweet_lemmatized'].astype(str).values)

In [7]:
pd.DataFrame(bow_count_vectorizer_stemmed.toarray(), columns=count_vectorizer_stemmed.get_feature_names()).head(5)

,aaaree,aap,aare,ab,abandon,abc,abe,abil,abl,aboyout,...,zara,zaynmalik,zelda,zen,zero,zionism,zombi,zone,zoo,zoro
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [8]:
pd.DataFrame(bow_count_vectorizer_lemmatized.toarray(), columns=count_vectorizer_lemmatized.get_feature_names()).head(5)

,aaareee,aap,aaree,ab,abandoned,abc,ability,able,aboyout,abrahamhicks,...,yup,yyc,zara,zelda,zen,zero,zombie,zone,zoo,zoro
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

### 2. Создайте мешок слов с помощью sklearn.feature_extraction.text.TfidfVectorizer.fit_transform(). Применим его к 'tweet_stemmed' и 'tweet_lemmatized' отдельно.
Игнорируем слова, частота которых в документе строго превышает порог 0.9 с помощью max_df.<br>
Ограничим количество слов, попадающий в мешок, с помощью max_features = 1000.<br>
Исключим стоп-слова с помощью stop_words='english'.<br>
Отобразим Bag-of-Words модель как DataFrame. columns необходимо извлечь с помощью TfidfVectorizer.get_feature_names().

In [9]:
tfidf_stemmed = TfidfVectorizer(max_df=max_df, max_features=max_features, stop_words=stop_words)
tfidf_lemmatized = TfidfVectorizer(max_df=max_df, max_features=max_features, stop_words=stop_words)

In [10]:
bow_tfidf_stemmed = tfidf_stemmed.fit_transform(df['tweet_stemmed'].astype(str).values)
bow_tfidf_lemmatized = tfidf_lemmatized.fit_transform(df['tweet_lemmatized'].astype(str).values)

In [11]:
pd.DataFrame(bow_tfidf_stemmed.toarray(), columns=tfidf_stemmed.get_feature_names()).head()

,aaaree,aap,aare,ab,abandon,abc,abe,abil,abl,aboyout,...,zara,zaynmalik,zelda,zen,zero,zionism,zombi,zone,zoo,zoro
0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [12]:
pd.DataFrame(bow_tfidf_lemmatized.toarray(), columns=tfidf_lemmatized.get_feature_names()).head()

,aaareee,aap,aaree,ab,abandoned,abc,ability,able,aboyout,abrahamhicks,...,yup,yyc,zara,zelda,zen,zero,zombie,zone,zoo,zoro
0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

### 3. Создайте мешок слов с помощью sklearn.feature_extraction.text.HashingVectorizer.fit_transform(). Применим его к 'tweet_stemmed' и 'tweet_lemmatized' отдельно.
Ограничим количество фичей, с помощью n_features = 1000.(можно изменить) <br>
Исключим стоп-слова с помощью stop_words='english'. <br>

In [13]:
hvectorizer_stemmed = HashingVectorizer(stop_words=stop_words, n_features=max_features)
hvectorizer_lemmatized = HashingVectorizer(stop_words=stop_words, n_features=max_features)

In [14]:
bow_hvectorizer_stemmed = hvectorizer_stemmed.fit_transform(df['tweet_stemmed'].astype(str).values)
bow_hvectorizer_lemmatized = hvectorizer_lemmatized.fit_transform(df['tweet_lemmatized'].astype(str).values)

### 4. Проверьте ваши векторайзеры на корпусе который использовали на вебинаре, составьте таблицу метод векторизации и скор который вы получили (в методах векторизации по изменяйте параметры что бы добиться лучшего скора) обратите внимание как падает/растёт скор при уменьшении количества фичей, и изменении параметров, так же попробуйте применить к векторайзерам PCA для сокращения размерности посмотрите на качество сделайте выводы

In [15]:
data = open('corpus').read()
labels, texts = [], []
for i, line in enumerate(data.split("\n")):
    content = line.split()
    labels.append(content[0])
    texts.append(" ".join(content[1:]))

# создаем df
trainDF = pd.DataFrame()
trainDF['text'] = texts
trainDF['label'] = labels
trainDF.head(5)

                                                text       label
0  Stuning even for the non-gamer: This sound tra...  __label__2
1  The best soundtrack ever to anything.: I'm rea...  __label__2
2  Amazing!: This soundtrack is my favorite music...  __label__2
3  Excellent Soundtrack: I truly like this soundt...  __label__2
4  Remember, Pull Your Jaw Off The Floor After He...  __label__2

In [16]:
from sklearn import model_selection, preprocessing, linear_model
from sklearn.metrics import accuracy_score

In [17]:
train_x, test_x, train_y, test_y = model_selection.train_test_split(trainDF['text'], trainDF['label'], 
                                                                    test_size=0.3, random_state = 42)

In [18]:
encoder = preprocessing.LabelEncoder()

In [19]:
train_y = encoder.fit_transform(train_y)
test_y = encoder.fit_transform(test_y)

In [20]:
count_vect_origin = CountVectorizer(analyzer='word', token_pattern=r'\w{1,}',
                                    max_df=max_df, stop_words=stop_words, max_features=max_features)
count_vect_origin.fit(trainDF['text'])

CountVectorizer(max_df=0.9, max_features=5000, stop_words='english',
                token_pattern='\\w{1,}')

In [21]:
vect_list = [count_vectorizer_stemmed, count_vectorizer_lemmatized, tfidf_stemmed, 
               tfidf_lemmatized, hvectorizer_stemmed, hvectorizer_lemmatized, count_vect_origin]

vect_list_names = ['count_vectorizer_stemmed', 'count_vectorizer_lemmatized', 'tfidf_stemmed', 
               'tfidf_lemmatized', 'hvectorizer_stemmed', 'hvectorizer_lemmatized', 'count_vect_origin']

In [22]:
def get_score(X, y, X_, y_, vect_name):
    model = linear_model.LogisticRegression()
    Xvect = vect_name.transform(X)
    Xvect_ = vect_name.transform(X_)
    model.fit(Xvect, y)
    predict = model.predict(Xvect_)
    score = accuracy_score(y_, predict)
    #print(score)
    return score

In [23]:
results = []
for i in vect_list:
    results.append(get_score(train_x, train_y, test_x, test_y, i))

In [24]:
# df_score = pd.DataFrame({'model': vect_list_names, 'max_feats': max_features, 'max_df': max_df, 'score': results})\
#             .sort_values('score', ascending=False)

In [25]:
import glob, os
df_score = pd.concat(map(pd.read_csv, glob.glob(os.path.join('', "*.csv"))))

<div class="alert alert-block alert-success">
<p>
    Было лень создавать функцию для созднаний векторайзеров с различными параметрами, поэтому просто был запущен ноутбук несколько раз, результаты выгружены в CSV, после чего всё собрано в один датафрейм <br>
Мы видим следующие закономерности: <br>
1) Лемматизация в целом отрабатывает лучше. <br>
2) Векторайзеры, построенные на твитах отрабатывают соизмеримо с тем, как отработал векторайзер, обученный непосредственно на данном датасете. Это можно объяснить стилистической близостью твитов и отзывов, которые оставляют пользователи. Но если бы мы обучили их на твитах, а пытались бы использовать совершенно иных текстах (официальные письма, тех. документация с большим использованием терминов) - возникла бы проблема из-за совершенно разного состава этих мешком слов. <br>
3) Размер словаря увеличивает точность, но и существенно повышает вычислительную сложность
    </p>
    </div>

In [26]:
df_score.sort_values('score', ascending=False)

   Unnamed: 0                        model  max_feats  max_df     score
0           6            count_vect_origin       5000     0.7  0.841000
0           6            count_vect_origin       5000     0.9  0.841000
1           3             tfidf_lemmatized       5000     0.9  0.825000
1           3             tfidf_lemmatized       5000     0.7  0.825000
0           6            count_vect_origin       2000     0.9  0.823667
0           6            count_vect_origin       2000     0.7  0.823667
3           5       hvectorizer_lemmatized       5000     0.7  0.820000
2           4          hvectorizer_stemmed       5000     0.7  0.820000
3           5       hvectorizer_lemmatized       5000     0.9  0.820000
2           4          hvectorizer_stemmed       5000     0.9  0.820000
4           1  count_vectorizer_lemmatized       5000     0.9  0.811667
4           1  count_vectorizer_lemmatized       5000     0.7  0.811667
1           3             tfidf_lemmatized       2000     0.9  0.806667
1           3             tfidf_lemmatized       2000     0.7  0.806667
2           1  count_vectorizer_lemmatized       2000     0.7  0.797667
2           1  count_vectorizer_lemmatized       2000     0.9  0.797667
3           4          hvectorizer_stemmed       2000     0.9  0.785333
4           5       hvectorizer_lemmatized       2000     0.9  0.785333
4           5       hvectorizer_lemmatized       2000     0.7  0.785333
3           4          hvectorizer_stemmed       2000     0.7  0.785333
5           2                tfidf_stemmed       5000     0.9  0.766000
5           2                tfidf_stemmed       5000     0.7  0.766000
6           0     count_vectorizer_stemmed       5000     0.9  0.751667
6           0     count_vectorizer_stemmed       5000     0.7  0.751667
5           2                tfidf_stemmed       2000     0.7  0.747000
5           2                tfidf_stemmed       2000     0.9  0.747000
6           0     count_vectorizer_stemmed       2000     0.9  0.739667
6           0     count_vectorizer_stemmed       2000     0.7  0.739667

<div class="alert alert-block alert-success">
<p>
Попробуем применить понижение размерности к лучшим вариантам
</p>
</div>

In [87]:
from sklearn.decomposition import TruncatedSVD

In [88]:
model = linear_model.LogisticRegression()

In [89]:
pca = TruncatedSVD(500) # PCA не отработал на разряженной матрице

In [90]:
X = count_vect_origin.transform(train_x)
X_ = count_vect_origin.transform(test_x)

In [91]:
X = pca.fit_transform(X)
X_ = pca.transform(X_)

In [92]:
model.fit(X, train_y)

LogisticRegression()

In [93]:
accuracy_score(test_y, model.predict(X_))
# 0.841000 на оригинальной матрице из 5000 признаков

0.8236666666666667

In [94]:
X = tfidf_lemmatized.transform(train_x)
X_ = tfidf_lemmatized.transform(test_x)

In [95]:
X = pca.fit_transform(X)
X_ = pca.transform(X_)
model.fit(X, train_y)
accuracy_score(test_y, model.predict(X_))
# 0.825000  на tf idf матрице из 5000 признаков

0.8166666666666667

<div class="alert alert-block alert-success">
<p>
Существенное снижение признакового пространства понижает качество модели, но не фатально, качество сопоставимо. Вместо 5 000 признаков мы использовали 500.
</p>
</div>